In [24]:
import pandas as pd

In [25]:
# How to use Pandas | کتابخانه پانداز

# Creat a dataframe | ساخت جدول

data = {
    'name': ['a', 'b', 'c'],
    'age': [6, 8, 4],
}

df = pd.DataFrame(data)

print(df)

  name  age
0    a    6
1    b    8
2    c    4

In [26]:
# Read files | خوندن فایل ها

df = pd.read_csv('./data.csv')

print(df)

      Name  Age  Salary
0    Hasan   32    1000
1      Ali   33    4000
2    Vahid   32    2500
3   Behnam   33    3400
4  Mahmoud   30    2400
5    Zahra   28    3300
6   Maryam   28    2700

In [27]:
# View the structure and first 5 rows of the dataframe | دیدن ساختار کلی جدول و 5 سطر اولش

df = pd.read_csv('./data.csv')
df = df.head()

print(df)

      Name  Age  Salary
0    Hasan   32    1000
1      Ali   33    4000
2    Vahid   32    2500
3   Behnam   33    3400
4  Mahmoud   30    2400

In [28]:
# Describ the dataframe (statistical summary) | محاسبه اطلاعات آماری جدول

df = pd.read_csv('./data.csv')
df = df.describe()

print(df)

             Age       Salary
count   7.000000     7.000000
mean   30.857143  2757.142857
std     2.193063   960.654539
min    28.000000  1000.000000
25%    29.000000  2450.000000
50%    32.000000  2700.000000
75%    32.500000  3350.000000
max    33.000000  4000.000000

In [29]:
# View a specific column | دیدن اطلاعات ستون مشخص شده

df = pd.read_csv('./data.csv')
df = df['Name']

print(df)

0      Hasan
1        Ali
2      Vahid
3     Behnam
4    Mahmoud
5      Zahra
6     Maryam
Name: Name, dtype: object

In [30]:
# View a specific row | دیدن اطلاعات سطر مشخص شده

df = pd.read_csv('./data.csv')
df = df.iloc[2,:] # کل سطر 2 

print(df)

Name      Vahid
Age          32
Salary     2500
Name: 2, dtype: object

In [31]:
# View a specific cell (row 2, column 1) | دیدن مقدار یک سلول خاص

df = pd.read_csv('./data.csv')
df = df.iloc[2,1] # سطر 2 ستون 1 

print(df)

32

In [32]:
# Filter | فیلتر کردن

df = pd.read_csv('./data.csv')
filtered_df = df[df["Salary"]>2500]

print(filtered_df)

     Name  Age  Salary
1     Ali   33    4000
3  Behnam   33    3400
5   Zahra   28    3300
6  Maryam   28    2700

In [33]:
# Sort the dataframe by Salary (descend) | مرتب سازی دیتافریم

df = pd.read_csv('./data.csv')
# df_sorted = df.sort_values("Salary") # کم به زیاد
df_sorted = df.sort_values("Salary", ascending=False) # زیاد به کم

print(df_sorted)

      Name  Age  Salary
1      Ali   33    4000
3   Behnam   33    3400
5    Zahra   28    3300
6   Maryam   28    2700
2    Vahid   32    2500
4  Mahmoud   30    2400
0    Hasan   32    1000

In [34]:
# Select a subset of the dataframe | انتخاب بخشی از دیتافریم

df = pd.read_csv('./data.csv')

subset = df.loc[2:4, ['Name', 'Age']] # انتخاب سطر های 2 تا 4 و ستون های نام و سن 

print(subset)

      Name  Age
2    Vahid   32
3   Behnam   33
4  Mahmoud   30

In [35]:
# Group

df = pd.read_csv('./data.csv')

df_grouped = df.groupby('Age') # گروه بندی اطلاعات جدول با توجه به ستون مشخص شده
df_grouped = df_grouped.count() # دیدن تعداد افراد با هر سن

print(df_grouped)

     Name  Salary
Age
28      2       2
30      1       1
32      2       2
33      2       2

In [36]:
# Add a new column | اضافه کردن ستون جدید

df = pd.read_csv('./data.csv')
df["test"] = [1, 2, 3, 4, 5, 6, 7]

print(df)

      Name  Age  Salary  test
0    Hasan   32    1000     1
1      Ali   33    4000     2
2    Vahid   32    2500     3
3   Behnam   33    3400     4
4  Mahmoud   30    2400     5
5    Zahra   28    3300     6
6   Maryam   28    2700     7

In [37]:
# Delet a column | حذف کردن یک ستون

df.drop("test", axis=1, inplace=True)

print(df)

      Name  Age  Salary
0    Hasan   32    1000
1      Ali   33    4000
2    Vahid   32    2500
3   Behnam   33    3400
4  Mahmoud   30    2400
5    Zahra   28    3300
6   Maryam   28    2700

In [38]:
# Count the number of rows in the dataframe | نمایش تعداد سطر های یک دیتافریم

df = pd.read_csv('./data.csv')
len(df)

7

In [39]:
# Add a new row | اضافه کردن یک سطر جدید

df = pd.read_csv('./data.csv')

df.loc[len(df)] = { # سطر 7
"Name":"Test",
"Age" : 22,
# مقدار حقوق رو از عمد اضافه نمیکنیم
}

print(df)

      Name  Age  Salary
0    Hasan   32  1000.0
1      Ali   33  4000.0
2    Vahid   32  2500.0
3   Behnam   33  3400.0
4  Mahmoud   30  2400.0
5    Zahra   28  3300.0
6   Maryam   28  2700.0
7     Test   22     NaN

In [40]:
# Detect elements with NaN values | تشخیص المان هایی که مقدار نن دارن
# NaN = Not a Number

print(df.isna())

    Name    Age  Salary
0  False  False   False
1  False  False   False
2  False  False   False
3  False  False   False
4  False  False   False
5  False  False   False
6  False  False   False
7  False  False    True

In [41]:
# Dropp rows with NaN values | حذف سطر هایی که دارای مقدار نن هستن

df1 = df.dropna()

print(df1)

      Name  Age  Salary
0    Hasan   32  1000.0
1      Ali   33  4000.0
2    Vahid   32  2500.0
3   Behnam   33  3400.0
4  Mahmoud   30  2400.0
5    Zahra   28  3300.0
6   Maryam   28  2700.0

In [42]:
# Fill NaN values with a specific value (usually 0) | (معمولا 0) و یا میتونیم مقادیر نن رو با مقدار دلخواه خودمون پر کنیم

df2 = df.fillna(0)

print(df2)

      Name  Age  Salary
0    Hasan   32  1000.0
1      Ali   33  4000.0
2    Vahid   32  2500.0
3   Behnam   33  3400.0
4  Mahmoud   30  2400.0
5    Zahra   28  3300.0
6   Maryam   28  2700.0
7     Test   22     0.0

In [43]:
# Sav the dataframe to a CSV file | سیو کردن اطلاعات

df.to_csv('new_data.csv')